<form (submit)="register()">
  <div class="row">
    <div class="col-md-5">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="You class Titlee" name="Title" [(ngModel)]="Title" type="text">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Teacher's Index" name="teacherID" [(ngModel)]="teacherID" (ngModelChange)="valuechange($event)">
      </mat-form-field>
    </div>

    <!--class identification number -->
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Add ID for class" name="ClassID" [(ngModel)]="ClassID" type="text">
      </mat-form-field>
    </div>
  </div>

  <!-- Subject dropdown -->
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle mr-6" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{subjectDropdown}}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="subjectDropDwon(el.subjectID,el.subjectName)" *ngFor="let el of subject">{{el.subjectName}}</a>
        </div>
      </div>
    </div>
    <!--Location dropdown-->
    <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle mr-6" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{LocationDropdown}}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="classDropDwon(el.locationID,el.locationName)" *ngFor="let el of elements">{{el.locationName}}</a>
        </div>
      </div>
    </div>
    <!--date of week-->
    <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle mr-6" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{dateofweekDropdown}}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="dateDropDwon(el.id,el.name)" *ngFor="let el of dateofweekarray">{{el.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <!--Class Starting time-->
  <div class="row">
    <div class="col-md-4">
      <label>Start Time</label>
      <mat-form-field class="example-full-width">
        <input matInput name="startTime" [(ngModel)]="startTime" type="text" type="time">
      </mat-form-field>
    </div>
    <!--Class end time-->
    <div class="col-md-4">
      <label>End Time</label>
      <mat-form-field class="example-full-width">
        <input matInput name="endTime" [(ngModel)]="endTime" type="time">
      </mat-form-field>
    </div>
  </div>
  <!--Class full fee-->
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput name="fullFee" [(ngModel)]="fullFee" type="text" placeholder="Full card fee amunt" type="number">
      </mat-form-field>
    </div>
    <!--Class half fee -->
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Half card fee amunt" name="halfFee" [(ngModel)]="halfFee" type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Add breaf description about class"></textarea>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button type="submit" class="btn btn-primary pull-right">Register</button>
  <div class="clearfix"></div>
</form>