<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-20 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Notification</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                
                  <form (submit)="add()">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="btn-group">
                                  <button class="btn btn-primary dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{classDropdown}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                        <a class="dropdown-item" *ngFor="let class of classList" (click)="classdropfun(class.title,class.ClassID)">{{ class.title }}</a>
                                      </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle mr-4" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false">{{typedropDown}}</button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                          <a class="dropdown-item" *ngFor="let TypeId of TypeList" (click)="typedropfun(TypeId.name,TypeId.typeId)">{{ TypeId.name }}</a>
                                        </div>
                                </div> 
                            </div>
                          </div>
<br>
<br>
                                      
                    <div class="col">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Title" name="Title" [(ngModel)]="Title" type="text" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <textarea matInput name="Message" [(ngModel)]="Message" type="text" placeholder="Text here" cols="10" rows="3"></textarea>
                        </mat-form-field>
                        
                      </div>
                    </div>
                    
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="setDropDownName(class)">Send</button>
                    <div class="clearfix"></div>
                  </form> 

              
              </div>
            </div>
          </div>
        </div>
      </div>
     