<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-20 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Change Password</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <form (submit)="change()">
                <br>
                <br>
                <div class="col">
                    <div class="btn-group">

                        <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">{{SelectRole}}</button>
        
                        <div class="dropdown-menu">
                          <a class="dropdown-item" (click)="setDropDwonRole(el.name)" *ngFor="let el of Role">{{el.name}}</a>
        
        
                        </div>
                      </div>
                  <div class="row">

                  <div class="col-md-4">
                    
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Student's Index" name="userId" [(ngModel)]="userId" (ngModelChange)="valuechange($event)">
                    </mat-form-field>
                  
                </div>
                <div class=col-md-8></div>
              </div>
                  <div class="row">
                     
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter Password" name=" password" [(ngModel)]=" password"
                          type="password">
                      </mat-form-field>
                    
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Conform password" name="Conformpassword" [(ngModel)]="Conformpassword"
                          type="password">
                      </mat-form-field>
                    </div>
                  
                  
                  </div>
                
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>