<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">View Student Details</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{dropDownName}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let class of classList" (click)="setDropDownName(class)">{{class.Title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr *ngFor="let student of studentList; let i = index">
                                        <a (click)="setuserId(i)">
                                            <td>
                                                {{student.UserID}}
                                            </td>
                                            <td>
                                                {{student.FirstName}} {{student.MiddleName}} {{student.LastName}}
                                            </td>
                                        </a>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Profile card begin here-->
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{name}}</h4>
                        <h6 class="card-category text-gray">{{role}}</h6>
                        <p class="card-description">
                            Name : {{fullname}}
                        </p>
                        <p class="card-description">
                            Address : {{address}}
                        </p>
                        <p class="card-description">
                            Email : {{email}}
                        </p>
                        <p class="card-description">
                            Contact No : {{tel}}
                        </p>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>