<form (submit)="register()">
    <div class="col">
        <div class="col-md-4">
          <select  name="role" [(ngModel)]="role" class="browser-default custom-select" required><br>
            <option value="">Select Employee Type</option>
            <option value="officeuser">Office user</option>
            <option value="teacher">Teacher</option>
          </select>
        </div>
      </div>
  <div class="row">
    <div class="col-md-5">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" name="FirstName" [(ngModel)]="FirstName" type="text" required>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Middle Name" name="MiddleName" [(ngModel)]="MiddleName">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" name="LastName" [(ngModel)]="LastName" type="text" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Birth Day" name="DOB" [(ngModel)]="DOB" type="date" required>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email Address" name="email" [(ngModel)]="email" type="email" required>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Constact No" name="ContactNo" [(ngModel)]="ContactNo" type="email" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password" type="password" required>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput name="repassword" [(ngModel)]="repassword" type="password" placeholder="Confirm password" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput name="AddNo" [(ngModel)]="AddNo" type="text" placeholder="Address No" type="text" >
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Street" name="AddStreet" [(ngModel)]="AddStreet" type="text" required>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="City" name="AddCity" [(ngModel)]="AddCity" type="text" required>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button type="submit" class="btn btn-danger pull-right">Register</button>
  <div class="clearfix"></div>
</form>