<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-20 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Send Message</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      
                    </li>
                    
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                
                  <form (submit)="send()">

                    <div class="btn-group">

                        <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">{{role}}</button>
        
                        <div class="dropdown-menu">
                          <a class="dropdown-item" (click)="setDropDwonRole(el.name)" *ngFor="let el of Role">{{el.name}}</a>
        
        
                        </div>
                      </div>
                      
<br>
<br>
                                      
                    <div class="col">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="StudentId" name="resiverUserId" [(ngModel)]="resiverUserId" type="text" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Title here" name="title" [(ngModel)]="title" type="text" type="text">
                          </mat-form-field>
                        </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <textarea matInput name="msg" [(ngModel)]="msg" type="text" placeholder="Text here" cols="10" rows="3"></textarea>
                        </mat-form-field>
                        
                      </div>
                    </div>
                    
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="setDropDownName(class)">Send</button>
                    <div class="clearfix"></div>
                  </form> 

              
              </div>
            </div>
          </div>
        </div>
      </div>
     