<div class="main-content">
  <div class="container-fluid">
    <!-- Add new Class-->
    <div class="rowm ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Add New Class </h4>
            <p class="card-category">Your new Class here</p>
          </div>
          <div class="card-body">
            <app-addclass></app-addclass>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- add new subjects -->
    <div class="rowm ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Add New subject</h4>
            <p class="card-category">Add new subject here</p>
          </div>
          <div class="card-body">
            <app-addsubject></app-addsubject>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- add new device -->
    <div class="rowm ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Add New Device</h4>
            <p class="card-category">Registeration for new classes</p>
          </div>
          <div class="card-body">
            <app-adddevice></app-adddevice>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- add new location -->
    <div class="rowm ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Add New Location</h4>
            <p class="card-category">Location Update here</p>
          </div>
          <div class="card-body">
            <app-addlocation></app-addlocation>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>