<div class="table-responsive">
        <div >
                <table>
                    <thead class="">
                        <th>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{dropDownName}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                  <a class="dropdown-item" *ngFor="let class of classList" (click)="setDropDownName(class)">{{ class.Title }}</a>
                                </div>
                              </div>
                        </th>
                    </thead>
                </table>
              </div>

  <table class="table table-hover">
       

      <thead class="">
          <th>
              Student ID
          </th>
          <th>
              Student Name
          </th>
          <th>
              Marks
          </th>
          
         
      </thead>
      <tbody>
          <tr *ngFor="let student of studentList">
              <td>
                {{student.UserID}}
              </td>
              <td>
                {{student.FirstName}} {{student.MiddleName}} {{student.LastName}} 
              </td>
             <td>
                 {{student.Marks}} 
              </td>
              
             
          </tr>
      </tbody>
  </table>

  <button type="button" class="btn btn-warning">Edit</button>


</div>