<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Edit Profile</h3>
                        <h4 class="card-category">Update Your Profile Here</h4>
                    </div>
                    <div class="card-body">
                        <form (submit) = "editProfile()">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder={{UserID}} disabled >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder={{userData.ContactNo}}  name="ContactNo" [(ngModel)]="ContactNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder={{userData.Email}} type="email" name="email" [(ngModel)]="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input pattern="[A-Za-z]{3}" matInput placeholder={{userData.FirstName}} type="text" name="FirstName" [(ngModel)]="FirstName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder={{userData.MiddleName}} type="text" name="MiddleName" [(ngModel)]="MiddleName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder={{userData.LastName}} type="text" name="LastName" [(ngModel)]="LastName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder= {{userData.AddNo}} type="text" name="AddNo" [(ngModel)]="AddNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder= {{userData.AddStreet}} type="text" name="AddStreet" [(ngModel)]="AddStreet">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder= {{userData.AddCity}} type="text" name="AddCity" [(ngModel)]="AddCity">
                                        </mat-form-field>
                                    </div>
                               
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label>About Me</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Profile card begin here-->
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{userData.FirstName}}</h4>
                        <h6 class="card-category text-gray">{{userData.role}}</h6>
                        <p class="card-description">
                            Name : {{userData.FirstName +" "+ userData.MiddleName+" "+ userData.LastName}}
                        </p>
                        <p class="card-description">
                            Address : {{userData.AddNo + " " + userData.AddStreet+ " " + userData.AddCity}}
                        </p>
                        <p class="card-description">
                            Email : {{userData.Email}}
                        </p>
                        <p class="card-description">
                            Contact No : {{userData.ContactNo}}
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>